

.content {
    width: 400px;
    height: 450px;
    background-color: #e0dede;
    padding: 50px;
    margin: auto;
    margin-top: 100px;
    border-radius: 40px;
}
h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    text-align: center;
}
table {
    border: 1px, solid black;
}

td {
    border: 1px solid black;
    width: 28px;
    height: 28px;
    text-align: center;
}

td:hover {
    background-color: #fff;
    cursor: pointer;
}

button {
    padding: 7px 12px;
    min-width: 118px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    background-color: #fff;
    border: none;
    outline: none;
    
}

.btn_play {
    cursor: pointer;
}

.tabnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

h3, p {
    padding: 0;
    margin: 0;
}

/* toast */
#toast {
    position: fixed;
    top: 32px;
    /* right: 32px; */
    z-index: 5;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px 0;
    border-radius: 2px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    min-width: 400px;
    max-width: 450px;
    transition: all linear .3s;
    /* fadeOut: sau khi trượt vào thì 3s sau mờ đi trong
    vòng 1s, forwards: dùng ở điểm cuối của animation*/
    animation: sliderInleft ease .3s, fadeOut linear 1s 3s forwards;
}

@keyframes sliderInleft {
    from{
        opacity: 0;
        transform: translateY(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast__body {
    flex-grow: 1;
}

.toast + .toast {
    margin-top: 24px;
}

.toast__icon {
    font-size: 24px;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__msg {
    line-height: 16px;
    font-size: 14px;
    color: #888;
    margin-top: 4px;
}

.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__success {
    border-color: #47d864;  
}

.toast__success .toast__icon {
    color: #47d864;
}

.toast__warning {
    border-color: #ffc021;
}

.toast__warning .toast__icon {
    color: #ffc021;
}


/*  */
/* .disable {
    display: none;
} */